# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment Variables
.env

# Logs & Temporary Files
*.log
logs/
temp/
downloads/

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
